* {
    box-sizing: border-box;
}
.h1title {
  width: 145px;
  height: 145px;
  margin-left: auto;
  margin-right: auto;
  display: block;

  
}
.txt-type > .txt {
  border-right: 0.2rem solid black;
}
.h3title {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #004bad;

}
.navbackground {
    padding:15px;
    background-color: #dad9d6;
    border-top: solid white 1px;
    border-left: solid white 1px;
    border-right: solid white 1px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width:100%;
    border-bottom: solid white 1px;
    border-top: solid white 1px;

  
 }
.menuitem {
    padding: 8px;
    margin: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
    color: rgb(102, 100, 100);
    font-size: 18px;
    display: inline-block;


   
  }
.menuitem:hover {
    color: #004bad;
    border-bottom: 8px solid #f1f1f1;

}
.blogtitle{
  text-align: left;
  overflow: hidden;
  display: inline;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
 }
.blogusername {
  font-size: 18px;
  font-family: serif;
  font-weight: 350;
  color: rgb(38, 43, 44);
  padding: 8px;
}
.blogdate {
 color: #81888b;
 font-size: 10.5px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 }
.blogcontent {
  float: center;


}
.blogbutton {
  border-radius: 10%;
  border-color: rgb(151, 165, 168);
  background-color: transparent;
}
.blogbutton:hover {
  border-radius: 10%;
  border-color: rgb(151, 165, 168);
  background-color: #ad9f9fbb;
}
#more {display: none;}

.right {
    background-color: #dad9d6;
    float: right;
    width: 35%;
    padding: 10px 15px;
    margin-top: 7px;
}
  
@media only screen and (max-width:800px) {
    /* For tablets: */
 .main {
      width: 80%;
      padding: 0;
}
.right {
      width: 100%;
 }
}
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }