* {
    box-sizing: border-box;
}
.h1title {
color: rgb(159, 245, 245);
font-size: 40px;
text-align: center;
}
.txt-type > .txt {
  border-right: 0.2rem solid black;
}
.h3title {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  font-weight: 250;
  text-align: center;

}
.navbackground {
    padding:15px;
    border-top: solid white 1px;
    border-left: solid white 1px;
    border-right: solid white 1px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width:100%;
    border-bottom: solid white 1px;
    border-top: solid white 1px;

  
 }
.menuitem {
    padding: 8px;
    margin: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
    color: rgb(102, 100, 100);
    font-size: 18px;
    display: inline;

   
  }
.menuitem:hover {
    color: rgb(185, 80, 80);
    border-bottom: 8px solid #f1f1f1;

}
.main {
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
 }
.right {
    background-color: lightblue;
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
}
  
@media only screen and (max-width:800px) {
    /* For tablets: */
 .main {
      width: 80%;
      padding: 0;
}
.right {
      width: 100%;
 }
}
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }